@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;200;300;400;500;600;700&display=swap');

:root {
  /* Primary */
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);

  /* Neutral */
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Ubuntu', sans-serif;
}
body {
  background-color: var(--magnolia);
}
.container {
  width: 1000px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: var(--white);
  border-radius: 1rem;
}

.hidden {
  display: none !important;
}
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1rem;
  border-radius: 1rem;
  padding: 2rem;
  /* url("./assets/images/bg-sidebar-desktop.svg")  */
  background: url('./assets/images/bg-sidebar-desktop.svg') no-repeat center
    center;
}
ol.sidebar {
  list-style-type: none;
  counter-reset: step;
}
ol.sidebar li {
  counter-increment: step;
  display: flex;
  text-transform: uppercase;
}
ol.sidebar li.sidebar-selected::before {
  background: var(--pastel-blue);
  color: var(--marine-blue);
}
ol.sidebar li::before {
  content: counter(step);
  width: 2rem;
  height: 2rem;
  border: 0.08rem solid var(--pastel-blue);
  border-radius: 50%;
  line-height: 2rem;
  color: white;
  text-align: center;
  margin-right: 0.5rem;
}

.sidebar .sidebar__text > div {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.sidebar__text-title {
  font-size: 0.8rem;
  font-weight: 200;
  color: var(--white);
}
.sidebar__text-subtitle {
  font-size: 0.9rem;
  font-weight: 450;
  letter-spacing: 1px;
  color: var(--white);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100%; */
  padding: 2rem 6rem;
}
.section-main {
  display: flex;
  flex-direction: column;
}
.section-controls {
  display: flex;
  justify-content: space-between;
}

.step-title,
.title {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--marine-blue);
}
.step-title {
  margin-bottom: 1rem;
}
.step-subtitle,
.subtitle {
  font-size: 1rem;
  color: var(--cool-gray);
}
.step-subtitle {
  margin-bottom: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}
.input-group .input-label {
  display: flex;
  justify-content: space-between;
}
.input-group .input-label .input-error {
  color: var(--strawberry-red);
  font-size: 0.9rem;
  font-weight: 500;
}
.input-group > input {
  margin-top: 0.5rem;
  border: 0.1rem solid var(--light-gray);
  font-size: 1rem;
  color: var(--marine-blue);
  border-radius: 0.3rem;
  padding: 1rem;
}
.input-group > input.invalid {
  border-color: var(--strawberry-red);
  background-color: var(--strawberry-red);
}
.input-group > input.invalid::placeholder {
  color: var(--strawberry-red);
}
.input-group > input.invalid:focus {
  border-color: var(--strawberry-red);
}
.input-group > input:focus {
  border-color: var(--marine-blue);
  outline: none;
}
.input-group > input::placeholder {
  color: var(--cool-gray);
}

.check-group {
  display: grid;
  grid-template-columns: 0.4fr 3fr 0.5fr;
  justify-content: space-around;
  align-items: center;
  border: 0.08rem solid var(--light-gray);
  margin: 0.5rem 0;
  padding: 1.5rem 1.5rem;
  border-radius: 0.4rem;
}
.check-group input {
  accent-color: var(--purplish-blue);
  transform: scale(1.2);
}
.check-group > .check-group__left {
}
.check-group > .check-group__center {
  display: flex;
  flex-direction: column;
}
.check-group > .check-group__center > .check-group__title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--marine-blue);
}
.check-group > .check-group__center > .check-group__subtitle {
  font-size: 1rem;
  color: var(--cool-gray);
}
.check-group > .check-group__right {
  color: var(--purplish-blue);
}

.receipt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 0;
}
.receipt-charges {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--magnolia);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}
.receipt-charges hr {
  border: 0.05rem solid var(--light-gray);
  width: 100%;
}
.receipt-charges__main > :nth-child(1) {
  display: flex;
  flex-direction: column;
}
.receipt-charges__main > :nth-child(2) {
  font-weight: 500;
  color: var(--marine-blue);
}
.receipt-charges__main-title {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--marine-blue);
}
.receipt-charges__main-subtitle {
  font-size: 0.9rem;
  color: var(--cool-gray);
  text-decoration: underline;
}
.receipt-charges__sub {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.receipt-charges__sub-section > :nth-child(1) {
  font-size: 0.9rem;
  color: var(--cool-gray);
}
.receipt-charges__sub-section > :nth-child(2) {
  font-size: 0.9rem;
  color: var(--marine-blue);
}

.receipt-total {
  padding: 1.5rem 1.5rem;
}
.receipt-total > :nth-child(1) {
  font-size: 0.9rem;
  color: var(--cool-gray);
}
.receipt-total > :nth-child(2) {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--marine-blue);
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#step-1 {
}
#step-2 {
}
#step-3 {
}
#step-4 {
}
#step-5 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#step-5 > img {
  margin-bottom: 1rem;
}
